<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="straw.polito.it.straw">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".StrawApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.CreateManagerAccountActivity" />
        <activity android:name=".activities.CreateMenuActivity" />
        <activity android:name=".activities.CreateDrinkActivity" />
        <activity android:name=".activities.CreatePlateActivity" />
        <activity android:name=".activities.ProfileManagerActivity" />
        <activity android:name=".activities.DisplayReservationsActivity" />
        <activity android:name=".activities.OfferActivity" />
        <activity android:name=".activities.CreateOfferActivity" />
        <activity
            android:name=".activities.SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.QuickSearchActivity"
            android:label="@string/title_activity_quick_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.CreateUserAccountActivity" />
        <activity android:name=".activities.BookTableActivity" />
        <activity android:name=".activities.ProfileUserActivity" />
        <activity android:name=".activities.PreOrderFoodActivity" />
        <activity android:name=".activities.AddPlateActivity" />
        <activity android:name=".activities.AddDrinkActivity" />
        <activity android:name=".activities.ConfirmReservationActivity" />
        <activity android:name=".activities.InviteFriendActivity" />
        <activity android:name=".activities.SearchDetailActivity" />
        <activity android:name=".activities.CreateReviewActivity" />
        <activity android:name=".activities.AdvancedSearchActivity" />
        <activity android:name=".activities.DisplayMenuActivity" />
    </application>

</manifest>